@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Love+Ya+Like+A+Sister&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('asset/img/bg.jpg');
    background-size: cover;
    background-position: center;
}

#main{
    width: 100%;
    height: 100%;
}

nav {
    width: 90%;
    height: 60px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav i {
    font-size: 1.6rem;
}

nav h1 {
    font-size: 2.3rem;
    font-family: "Qwitcher Grypen", cursive;
}

#heartshape {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 65px;

    position: relative;
}

.heart {
    width: 80px;
    height: 80px;
    background-color: pink;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    transform: rotate(45deg);
    /* box-shadow: 1px 1px 1px #00000049; */

    position: relative;
}

.heart::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: pink;
    border-top: 2.5px solid red;
    border-radius: 50%;

    position: absolute;
    top: -50%;
    left: 0;
}

.heart::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: pink;
    border-left: 2.5px solid red;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: -50%;
}

#countbox {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

    position: absolute;
    top: 10%;
}

#profile {
    margin-top: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
#profile i{
    font-size: 1.9rem;
    color: red;
}

.boy {
    width: 80px;
    height: 80px;
    background-color: pink;
    border-radius: 50%;
    border: 2px solid #fff;
}

.girl {
    width: 80px;
    height: 80px;
    background-color: pink;
    border-radius: 50%;
    border: 2px solid #fff;
}

#info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 46px;
    padding-right: 34px;
    padding-top: 13px;
}

#info span{
    font-size: 1rem;
}

#quote{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote p{
    font-style: italic;
    letter-spacing: 0.8px;
    font-size: 1.2rem;
    width: 300px;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
}

footer small{
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}