@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Love+Ya+Like+A+Sister&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

#main {
  /* display: none; */
}

#main .post1 {
  width: 100%;
  height: 100vh;
  background-image: url("asset/img/bg.jpg");
  background-size: cover;
  background-position: center;
}

nav {
  width: 90%;
  height: 60px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav i {
  font-size: 1.5rem;
  cursor: pointer;
}

nav h1 {
  font-size: 2.3rem;
  font-family: "Qwitcher Grypen", cursive;
}

#heartshape {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 65px;

  position: relative;
}

.heart {
  width: 80px;
  height: 80px;
  background-color: pink;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  transform: rotate(45deg);
  /* box-shadow: 1px 1px 1px #00000049; */

  position: relative;
}

.heart::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: pink;
  border-top: 2.5px solid red;
  border-radius: 50%;

  position: absolute;
  top: -50%;
  left: 0;
}

.heart::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: pink;
  border-left: 2.5px solid red;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: -50%;
}

#countbox {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;

  position: absolute;
  top: 10%;
}

#anni {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
  display: none;
}

#profile {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
#profile i {
  font-size: 1.9rem;
  color: red;
  text-shadow: 1px 2px 5px rgba(255, 0, 0, 0.404);
}

.boy {
  width: 80px;
  height: 80px;
  background-color: pink;
  border-radius: 50%;
  border: 2px solid #fff;

  position: relative;
}

.boy span {
  font-size: 1rem;
  position: absolute;
  bottom: -40%;
  left: 22%;
}

.girl {
  width: 80px;
  height: 80px;
  background-color: pink;
  border-radius: 50%;
  border: 2px solid #fff;

  position: relative;
}

.girl span {
  font-size: 1rem;
  position: absolute;
  bottom: -40%;
  left: 18%;
}

#quote {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote p {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  letter-spacing: 0.5px;
  font-size: 1rem;
  width: 290px;
  text-align: center;
}

/* footer{
    display: flex;
    justify-content: center;
}

footer small{
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
} */
#calendar {
  /* display: none; */
}

#calendar i, #gallery i {
  margin: 10px;
  cursor: pointer;
}
.fa-arrow-left {
  font-size: 1.6rem;
}

.fa-angles-right {
  font-size: 1.6rem;
}
#calendar span {
  font-size: 1rem;
}

#calendar nav,#gallery nav {
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  box-shadow: 1px 1px 10px #0000001c;
}

#calendar .head {
  display: flex;
}

#calendar .head .pf {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
#calendar .head .pf img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
#calendar .head .name h1 {
  font-size: 1.1rem;
}
#calendar .head .name p {
  font-size: 0.9rem;
}

#calendar .content p {
  margin-top: 5px;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

#upper {
  margin-left: 10px;
}

#calendar .album {
  margin-top: 10px;
}

#calendar .album img {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 100%;
  height: 100%;
}

.reaction i {
  font-size: 1rem;
  color: red;
}
.reaction span {
  font-size: 0.8rem;
  color: #00000075;
}

.button {
  box-shadow: 0px 1px 6px #0000000a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button i {
  font-size: 1.2rem;
}

#gallery{
  display: none;
}

#gallery .caption{
  width: 100%;
  border: 1px solid #00000034;
}

#gallery .caption p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
  margin-left: 10px;
  padding: 2px 0 2px 5px;
  
  border-left: 1px solid #00000034;
}

#gallery .album{
  width: 100%;
  height: 210px;
  margin: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
}

#gallery .album div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1.5px solid #0000008b;
}

#gallery .album .cap{
  position: relative;
}

#gallery .album .cap::before{
  content: 'Her Reply';
  font-family: Arial;
  font-size: 0.4rem;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 10px;

  background-color: #0000004c;

  position: absolute;
  bottom: 0;
  left: 0;
}

#gallery .album .cap1::before,#gallery .album  .cap2::before,#gallery .album  .cap3::before{
  content: 'Her Sleeping';
}

#gallery .album .cap4::before,#gallery .album  .cap5::before{
  content: 'Her Smiling';
}
@media (min-width: 768px) {
  body {
    display: none;
  }
}
